@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

#Icono {
  
    align-items:center;
    position:static;
    cursor: pointer;
    object-fit: cover;
    width: 100px;
}

.Icon-title{
    font-family: 'The Nautigal', cursive;
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 10px;

}