.App {
  text-align: center;
  align-items: inherit;
      
}

.App-content {
  background: linear-gradient(to bottom, rgb(49, 49, 255), rgb(255, 19, 19));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
.App-title {
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.App-results {
  flex-shrink: 2;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

@media screen and (min-width: 640px){
  .App-main{
    flex-direction: initial;
  }

  .App-category{
    padding: 0 2em;
    position: sticky;
    top: 0;
    width: 40%;
  }
}

