.App {
  text-align: center;
}

.App-content {
  background: linear-gradient(to bottom, rgb(49, 49, 255),rgb(255, 19, 19));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
